body{
    color: white;
    background-color: black;
    text-align: center;
    
}

div{
    margin-top: 10%;
    font-family: "Libre Baskerville", serif;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

img{
    border: 5px solid white;
    height: 50%;
    width: 50%
}